*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #111;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas{
    background-color: #222;
}

h1{
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    margin: 20px;
    padding: 20px 30px;
    font-size: large;
    background:none;
    border-color: tomato;
    border-radius: 20px;
    color: #935a5a;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}